[submodule "src/typescript/codemirror-languageserver"]
	path = src/typescript/codemirror-languageserver
	url = https://github.com/tbrockman/codemirror-languageserver
[submodule "src/typescript/memfs"]
	path = src/typescript/memfs
	url = https://github.com/ezdevlol/memfs
[submodule "src/apps/cuttlefish"]
	path = src/apps/cuttlefish
	url = https://github.com/ezdevlol/cuttlefish
