---
import Logo from './Logo.astro';

export interface Props {
	size?: number;
	currentPath?: string; // unused, but keep for later
}

const { size = 80 } = Astro.props;

---

<div class="flex">
	<Logo size={size} />
</div>
