@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Inter', 'Helvetica', system-ui, sans-serif;
    scroll-behavior: smooth;
}

body {
    @apply bg-black text-[#F5F5F5];
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

::selection {
    @apply bg-[#F5F5F5] text-black;
}

/*** Works on common browsers ***/
::selection {
    background-color: white;
    color: black;
}

.work-item-card:hover *::selection {
    background-color: black;
    color: white;
}

.work-item-card:hover *::-moz-selection {
    background-color: black;
    color: white;
}

.work-item-card:hover *::-o-selection {
    background-color: black;
    color: white;
}

.work-item-card:hover *::-ms-selection {
    background-color: black;
    color: white;
}

ul[data-type='taskList']>li>label {
    margin-right: 6px !important;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: white;
    color: black;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: black;
    color: #fff;
}

::-ms-selection {
    background-color: black;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: black;
    color: #fff;
}

@keyframes blink {

    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

@media (width >=40rem) {
    main.page-content>section {}
}

@media (width >=48rem) {
    main.page-content>section {
        margin-top: 8rem;
    }
}

.page-content>section {
    width: min(80ch, 100vw);
    margin-top: 2rem;

    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1.5rem;
    /* 6px */
}

.animate-blink {
    animation: blink 1s step-start infinite;
}

.ProseMirror {
    padding: 1rem;
    flex: 1;

    /* Work around Tailwind base styles */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: revert;
        font-weight: revert;
        line-height: revert;
    }

    ol,
    ul,
    menu {
        list-style: revert;
    }

    ol.tight {
        margin: 0 18px;

        li {
            padding-left: 2px;
        }
    }

    ul {
        li {
            display: flex;
        }
    }
}