@import "tailwindcss";

@layer base {}
@theme {
    --breakpoint-xs: 360px;
}

html {
    font-family: 'Inter', 'Helvetica', system-ui, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.work-item-card {
    .ezco-mde {
        --ezco-mde-bg: var(--ezco-mde-bg-dark);
        --ezco-mde-code-bg: var(--ezco-mde-code-bg-dark);
    }
}

.work-item-card:hover {
    .ezco-mde {
        --ezco-mde-code-bg: var(--ezco-mde-code-bg-light);
        --ezco-mde-bg: var(--ezco-mde-bg-light);
    }
}

@keyframes blink {

    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

@media (width >=40rem) {
    main.page-content>section {}
}

@media (width >=48rem) {
    main.page-content>section {
        margin-top: 8rem;
    }
}

.page-content>section {
    width: min(80ch, 100vw);
    margin-top: 1.5rem;

    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1rem;
}

@media (width >= 640px) {
    .page-content > section {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.page-content > section > div {
    align-items: center;
    width: 100%;
}

.animate-blink {
    animation: blink 1s step-start infinite;
}

.ProseMirror {
    padding: 1.5rem;
    flex: 1;
    max-width: 100%;
    font-optical-sizing: auto;
    font-synthesis: none;
    text-rendering: optimizeLegibility;

    &:focus-visible {
        outline: none;
    }

    h1:first-of-type {
        margin-top: 0;
    }

    & a:hover {
        cursor: pointer;
    }

    li>p {
        margin-top: 0;
        margin-bottom: 0;
    }

    ol,
    ul,
    menu {
        list-style: revert;
    }

    .cm-editor[data-theme='dark'] {
        --cm-line-highlight: #ffffff1a;
    }

    @media (prefers-color-scheme: dark) {
        .cm-editor {
            --cm-line-highlight: #ffffff1a;
        }
    }
}