---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ezfilter">
	<main>
		<img src="/assets/ezfilter-new.svg" alt="Ezfilter Hero" />
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		padding: 1rem;
	}

	img {
		max-width: 100%;
		height: auto;
	}
</style>
