[package]
name = "{{name}}"
version = "0.1.0"
edition = "2024"
description = "{{description}}"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
wit-bindgen = "0.54"

[profile.release]
opt-level = "s"
lto = true
